/* src/modules/user/UserRequestHistory.css */
.user-request-history {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #c2d8e3;
}

.heading {
  text-align: center;
  color: #1d3557;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: bold;
}

.request-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.request-table th,
.request-table td {
  padding: 10px;
  border: 1px solid #ddd;
  background-color:#3a3f47;
  text-align:center;
}

.status.cancelled {
  color: rgb(232, 45, 92);
}

.status.completed {
  color: green;
}

.error {
  color: red;
}


.review-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
}

.review-form select,
.review-form input {
  padding: 4px;
  font-size: 14px;
}

.review-form button {
  background-color: #1d7874;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}


  .review-form button:hover {
    background-color: #28b5b5;
  }
  